include-font('password', 'password', 400)

include-font('TTCommons', 'TTCommons-Thin', 100)
include-font('TTCommons', 'TTCommons-Light', 300)
include-font('TTCommons', 'TTCommons-Regular', 400)
include-font('TTCommons', 'TTCommons-Medium', 500)
include-font('TTCommons', 'TTCommons-DemiBold', 600)
include-font('TTCommons', 'TTCommons-Bold', 700)
include-font('TTCommons', 'TTCommons-ExtraBold', 800)
include-font('TTCommons', 'TTCommons-Black', 900)
