// Отступы
set-offset(0, 30, 5)
set-offset(30, 60, 10)
set-offset(60, 100, 20)


// Скругления
.l-br-3 {
  border-radius 3px
}


// Тени
.l-shadow-1_color-1 {
  box-shadow 0 5px 20px rgba($color-1, 0.1)
}

.l-shadow-1_color-2 {
  box-shadow 0 5px 20px rgba($color-2, 0.1)
}


// Фоны
.l-bg_color-1 {
  background-color $color-1
}


// бордеры
.l-border-1-7-300 {
  border 1px solid $color-7-300
}

.l-border-1-7-800 {
  border 1px solid $color-7-800
}

// Размер шрифта

.l-fs-14 {
  use-size(14)
}

.l-fs-16 {
  use-size(16)
}

.l-fs-18 {
  use-size(18)
}

.l-fs-20 {
  use-size(20)
}

.l-fs-22 {
  use-size(22)
}

// Жирность шрифта

.l-fw-500 {
  font-weight 500
}

.l-fw-600 {
  font-weight 600
}

// Цвет шрифта

.l-color-1 {
  color $color-1
}


.l-color-2 {
  color $color-2
}

.l-color-3 {
  color $color-3
}

.l-color-4 {
  color $color-4
}

.l-color-5 {
  color $color-5
}

.l-color-6 {
  color $color-6
}

.l-color-7 {
  color $color-7
}

.l-color-7-100 {
  color $color-7-100
}

.l-color-7-200 {
  color $color-7-200
}

.l-color-7-300 {
  color $color-7-300
}

.l-color-7 {
  color $color-7-400
}

.l-color-7-500 {
  color $color-7-500
}

.l-color-7-600 {
  color $color-7-600
}

.l-color-7-700 {
  color $color-7-700
}

.l-color-7-800 {
  color $color-7-800
}

.l-color-primary {
  color $color-primary
}

// Флексбоксы

.l-fg-1 {
  flex-grow 1
}

.l-flex-1 {
  flex 1
}

// Текст
.l-ta-center {
  text-align center
}
.l-op-05 {
  opacity 0.5
}

.l-delimiter-white-30 {
  display block
  height 30px
  width 1px
  background-color white
}
