// Block sizes
$block-padding = 20px
$block-width = (1180px - ($block-padding * 2))
$block-max-width = 1180px
$block-max-width-wide = 1700px

$grid-gap = 20px
$grid-width = 80px


// Font sizes
$size-main = 14px
$line-main = 20px
define-size-line($size-main, $line-main)

define-size-line(60, 58)
define-size-line(36, 42)
define-size-line(34, 40)
define-size-line(22, 26)
define-size-line(20, 24)
define-size-line(18, 22)
define-size-line(16, 18)
define-size-line(14, 18)


// Margins
$margin-paragraph = (24 / no-unit($size-main)) em


// Fonts
$font-fallback-main = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
$font-TTCommons = 'TTCommons', $font-fallback-main
$font-password = 'password', $font-fallback-main
$font-title = $font-TTCommons
$font-main = $font-TTCommons

// Change Colors
$color-primary = #29006C
$color-primary-light = lighten($color-primary, 20%)
$color-primary-dark = darken($color-primary, 20%)

// System Colors

//main
$color-1 = white

$color-2-300 = #22212B
$color-2 = #161718

$color-4 = #FF284F
$color-5 = #02C46D
$color-6 = #2196f3

// additions
$color-7-100 = #F4F4F6
$color-7-200 = #F1F1F3
$color-7-300 = #F1F1F4
$color-7-400 = #E4E5E8
$color-7 = #C4C4C4
$color-7-600 = #C3C2C9
$color-7-650 = #BFC0C4
$color-7-700 = #B4B3BB
$color-7-800 = #7C7B85
$color-7-850 = #7D7C85

$color-8 = #ffa000

$color-main = rgba(103, 105, 110, 0.7);
$color-title = $color-2
$color-link = $color-main
$color-hover = $color-main
$color-error = $color-4
$color-success= $color-5
$color-info= $color-6
$color-warning= $color-8

// Animations
$easing-main = unquote('cubic-bezier(0.645, 0.045, 0.355, 1)');
$transition-long = unquote('.75s ' + $easing-main)
$transition-medium = unquote('.5s ' + $easing-main)
$transition-main = unquote('.25s ' + $easing-main)
$transition-fast = unquote('.15s ' + $easing-main)
