include-font(font-name, file-name, font-weight = normal, font-style = normal) {
   @font-face {
      font-family font-name
      src: local(file-name),
         url('../fonts/'+file-name+'.woff2') format('woff2'),
         url('../fonts/'+file-name+'.woff') format('woff');
      font-weight font-weight
      font-style font-style
      font-display auto
   }
}
