.badge {
  padding 4px 8px
  border-radius 5px
  overflow hidden
  background-color $color-primary
  color white
  font-weight 500
  max-width 100%
  white-space nowrap
  &__caption {
    text-overflow ellipsis
    overflow hidden
  }
}
