.grid-list {
  &__list {
    display flex
    flex-wrap wrap
    margin-right -10px
    margin-left -10px
    margin-bottom -20px
  }
}
.grid-list-item {
  flex 0 0 auto
  margin-left 10px
  margin-right 10px
  margin-bottom 20px
  display flex
}
