.system-message {
  box-sizing border-box
  padding 15px 20px
  border 1px solid lighten($color-info, 60%)
  background-color lighten($color-info, 60%)
  color $color-info
  border-radius 15px
}
.system-message.alert {
  border-color lighten($color-error, 60%)
  background-color lighten($color-error, 60%)
  color $color-error
}

.system-message.success {
  border-color lighten($color-success, 60%)
  background-color lighten($color-success, 60%)
  color $color-success
}
.system-message.warning {
  border-color lighten($color-warning, 60%)
  background-color lighten($color-warning, 60%)
  color $color-warning
}
